
body
{margin-top: 0px; margin-left: 0px; margin-right: 0px;margin-bottom: 0px; background-color: #e6e6e6;
}

table,td {font-size: 100%;line-height: 125%;
font-family: arial, helvetica, tahoma ,verdana,  sans-serif;color:#000;
}

h2{ font-family: "Trebuchet MS",arial, helvetica, verdana, tahoma, sans-serif;color:#7F7F7F;
margin-bottom:20px;letter-spacing:2px;font-size: 125%;
border-bottom:solid 0px #746b64;
padding-bottom:4px
}


.li {
width:14px;
background-image:url(images/ra1.jpg);
background-repeat:repeat-y;
vertical-align:top;
border-right:solid 0px #BFBFBF;
}


.re {
width:14px;
background-image:url(images/ra2.jpg);
background-repeat:repeat-y;
border-left:solid 0px #BFBFBF;}


/* hauptgerüst */

#main {
border-bottom:solid 10px #fff;
border-right:solid 10px #fff;border-left:solid 10px #fff;

}

#top {
height:28px;
border-top:solid 10px #fff;
border-right:solid 10px #fff;border-left:solid 10px #fff;
color:#ffffff;
}

#hpname {height:24px;padding-right:10px;padding-top:6px;padding-bottom:6px;text-align:right;color:#808080;
letter-spacing:1px;font-size:20;font-family: "Trebuchet MS",arial, helvetica, verdana, tahoma, sans-serif; font-style:italic;
}


/* menue oben */

.buleiste {
height:36px;
}

#menu2 a, #menu2 a:visited , #menu2 a:active {display: block;
color:#000;

text-decoration:none ;font-family:verdana, sans-serif; font-size: 10pt;
padding-left: 0px; padding-bottom: 0px; padding-top:0px;
margin-left: 0px;margin-right: 0px;
border-left:solid 1px #fff;
border-bottom:solid 1px #E6E6E6;
border-top:solid 1px #fff;
line-height:36px;
text-align:center;
background-image:url(images/mover.jpg);
}


#menu2 a:hover {background-color:#fff;color:#808080; text-decoration:none ;
background-image:url(images/xmover.jpg);
border-left:solid 1px #fff;
border-bottom:solid 1px #E6E6E6;
border-top:solid 1px #fff;
}

#sp1 {text-align:justify; padding-left: 30px;padding-right:30px;padding-top: 40px;padding-bottom: 50px;
background-color:#fff;width:100%;
background-image:url(images/bgmain.jpg);
background-repeat:repeat-x;
border-bottom:solid 1px #bfbfbf;
}


#fussb {font: normal 12px verdana, sans-serif; color: #1F1F1F; padding-top:2px;
height:40px;
text-align:center;
border-top:solid 1px #fff;
background-color:#fff;
background-image:url(images/MOVER.jpg);
background-repeat:repeat-x;

}

/* scrolleiste internet explorer ab vers.5.5 */

body
{scrollbar-arrow-color: #737b66; scrollbar-base-color: #F5F8F3;
scrollbar-highlight-color : #737b66; scrollbar-shadow-color : #ffffff;
SCROLLBAR-TRACK-COLOR: #e6e6e6;}


/* menue  */

#menu1 a , #menu1 a:visited , #menu1 a:active {display:block;
background-color:#;
text-decoration:none ;
text-align:center;
font-size: 89%;line-height: 180%;
font-family: "Trebuchet MS",arial, helvetica, verdana, tahoma, sans-serif;color:#7B917C;
width:160px;
}

#menu1 a:hover{
background-color:#A5ADAA;
color:#fff;
text-decoration:none ;
}


/* allgemeine links im text */

a:link, a:visited, a:active{ font-size: 98%;
font-family: arial, helvetica, verdana, tahoma, sans-serif;color:#000}

a:hover{ text-decoration:UNDERLINE;background-color:#C5C8CD;
color:#3F3F3F;}
