body { 
font-family: Arial, sans-serif; 
line-height: 1.4;
font-size: 15px;
background: #242625;
color: #F9F7ED;
margin: 0;
padding: 0;
}

a { color: #B3E1EF; text-decoration: none;}
a:hover { text-decoration: underline; }

h1 {
margin: 0;
padding-left: 30px;
font-weight: 120;
}
h1 a { text-decoration: none; color: #B3E1EF; }
h1 a:hover { text-decoration: none; border-bottom: 1px solid #B3E1EF; color: #B3E1EF; }

#wrap { 
width: 800px;
margin: 0px auto;
}

#header {
background: #242625;
height: 65px;
line-height: 65px;
padding-top: 0px;
}

#menu {
background: #242625 url(images/menu.jpg) no-repeat;
height: 20px;
line-height: 20px;
}

#menu ul {
list-style-type: none;
margin: 0;
padding-left: 30px;
}
#menu ul li {
display: block;
float: left;
}
#menu ul li a {
display: block;
padding: 0 10px 0 10px;
text-decoration: none;
color: #ffffc6;
font-size: 17px;
font-weight: 600;
}
#menu ul li a:hover {
color: yellow;
background: url(images/menuover.png) repeat-x;
}

#contentwrap {
background: #242625 repeat-y;
padding: 0 0px;
}

#content {
float: left;
width: 520px;
margin-top: 20px;
}
#content h2 {
margin: 0;
color: #FFF6CF;
line-height: 30px;
font-size: 20px;
font-weight: 100;
}
#content h2 a {
color: #FFF6CF;
}

#content p { padding: 0 0 10px 0; }
#content ul { padding: 0 20px 10px 30px; }


#sidebar {
float: right;
margin-top: 20px;
width: 160px;
padding-left: 10px;
background: #2C2F2D;
padding: 10px;
}

#sidebar h3 {
height: 20px;
line-height: 20px;
font-weight: 600;
font-size: 16px;
margin: 0; padding: 0 10px 10px 10px; 
color: #fff;
}

#sidebar p { padding: 0 10px 10px 10px; color: #FFF6CF; }

#sidebar ul {
padding: 0px 0 0px 20px;
margin: 0;
}

#sidebar ul li {
padding: 0;
margin: 0;
}

#sidebar ul li a { padding: 0px 0 0 0; }
#sidebar ul li a:hover {  }

#columns h3 {
background: #2C2F2D;
height: 30px;
line-height: 30px;
font-weight: 600;
font-size: 13px;
margin: 0 0 0 0; padding: 0 0 0 20px; 
color: #F9F7ED;
}

#columns ul {
padding: 0px 0 0px 0px;
margin: 0;
}

#columns ul li {
padding: 0;
margin: 0;
}

#column {
width: 500px;
background: #3F3F3F;
margin-left: 10px;
}

#bottom { background: #242625 ; padding: 15px 20; }

#footer { 
text-align: center;
color: #fff;
}
#footer p { padding: 0; margin: 0; }
#footer a { color: #fff; }
#footer a:hover { text-decoration: underline; }
